In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Possible project data/covid_19_data.csv")
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
df = df[['ObservationDate', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered']]
df.head()

  ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020  Mainland China        1.0     0.0        0.0
1      01/22/2020  Mainland China       14.0     0.0        0.0
2      01/22/2020  Mainland China        6.0     0.0        0.0
3      01/22/2020  Mainland China        1.0     0.0        0.0
4      01/22/2020  Mainland China        0.0     0.0        0.0

In [4]:
df.rename(columns = {'ObservationDate' : 'Obsdate', 'Country/Region' : 'Country'}, inplace = True)
df.head()

      Obsdate         Country  Confirmed  Deaths  Recovered
0  01/22/2020  Mainland China        1.0     0.0        0.0
1  01/22/2020  Mainland China       14.0     0.0        0.0
2  01/22/2020  Mainland China        6.0     0.0        0.0
3  01/22/2020  Mainland China        1.0     0.0        0.0
4  01/22/2020  Mainland China        0.0     0.0        0.0

In [5]:
countries = pd.unique(df['Country'])

In [6]:
x = []
y = []
z = []

In [7]:
for c in countries:
    confirmed = sum(df[df['Country'] == c].Confirmed)
    death = sum(df[df['Country'] == c].Deaths)
    recovered = sum(df[df['Country'] == c].Recovered)
    x.append(confirmed)
    y.append(death)
    z.append(recovered)

In [8]:
df1 = pd.DataFrame({"Country" : countries, 'Total_confirmed' : x, 'Total_deaths' : y, 'Total_recovered' : z})

In [9]:
df1.head()

          Country  Total_confirmed  Total_deaths  Total_recovered
0  Mainland China       18897448.0      940362.0       16231209.0
1       Hong Kong         410886.0        5193.0         330086.0
2           Macau           8881.0           0.0           7517.0
3          Taiwan          83874.0        1246.0          68845.0
4              US      557588267.0    21189260.0      174911575.0

In [10]:
df1 = df1.sort_values(by = 'Total_confirmed', ascending = 0)

In [11]:
top_fifteen = df1['Country'].head(15)

In [12]:
for x in top_fifteen:
    globals()["%s" % x] = df[df['Country'] == x]
    globals()["%s" % x] = globals()["%s" % x].groupby(globals()["%s" % x]['Obsdate']).aggregate({'Obsdate' : 'first', 'Country' : 'first', 'Confirmed' : 'sum', 'Deaths' : 'sum', 'Recovered' : 'sum'})
    globals()["%s" % x]['Cumulative_Confirmed'] = globals()["%s" % x]['Confirmed'].cumsum(axis = 0)
    globals()["%s" % x]['Cumulative_Deaths'] = globals()["%s" % x]['Deaths'].cumsum(axis = 0)
    globals()["%s" % x]['Cumulative_Recovered'] = globals()["%s" % x]['Recovered'].cumsum(axis = 0)
    globals()["%s" % x]['Fatality_Rate'] = globals()["%s" % x]['Cumulative_Deaths']/globals()["%s" % x]['Cumulative_Confirmed']*100
    globals()["%s" % x]['Recovery_Rate'] = globals()["%s" % x]['Cumulative_Recovered']/globals()["%s" % x]['Cumulative_Confirmed']*100

In [13]:
top_fifteen

4               US
14          Brazil
25           India
28          Russia
97            Peru
30           Spain
13          Mexico
27              UK
93    South Africa
26           Italy
34            Iran
16          France
80           Chile
15        Colombia
22         Germany
Name: Country, dtype: object

In [15]:
Chile

,Obsdate,Country,Confirmed,Deaths,Recovered,Cumulative_Confirmed,Cumulative_Deaths,Cumulative_Recovered,Fatality_Rate,Recovery_Rate
Obsdate,,,,,,,,,,
03/03/2020,03/03/2020,Chile,1.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000
03/04/2020,03/04/2020,Chile,1.0,0.0,0.0,2.0,0.0,0.0,0.000000,0.000000
03/05/2020,03/05/2020,Chile,4.0,0.0,0.0,6.0,0.0,0.0,0.000000,0.000000
03/06/2020,03/06/2020,Chile,4.0,0.0,0.0,10.0,0.0,0.0,0.000000,0.000000
03/07/2020,03/07/2020,Chile,4.0,0.0,0.0,14.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
09/19/2020,09/19/2020,Chile,444674.0,12254.0,418101.0,37655215.0,907383.0,33115448.0,2.409714,87.943856
09/20/2020,09/20/2020,Chile,446274.0,12286.0,419746.0,38101489.0,919669.0,33535194.0,2.413735,88.015442
09/21/2020,09/21/2020,Chile,447468.0,12298.0,421111.0,38548957.0,931967.0,33956305.0,2.417619,88.086183
09/22/2020,09/22/2020,Chile,448523.0,12321.0,423176.0,38997480.0,944288.0,34379481.0,2.421408,88.158212
09/23/2020,09/23/2020,Chile,449903.0,12345.0,425165.0,39447383.0,956633.0,34804646.0,2.425086,88.230558